@model IEnumerable<Practice.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Category.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                 <a asp-action="Details" asp-route-id="@item.projectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.projectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
